<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  {{#if loggedInUser}}
  <nav class="navbar navbar-dark bg-dark shadow-sm">
    <a class="navbar-brand" href="#">Taskpal REST Services</a>
    <div class="menu-bar">
      <label style="font-size:0.75em;">Hello, {{{ loggedInUser.email }}}</label>
      <div class="menu-bar-links">
        {{#isnt location "home"}}
        <a href="/">Home</a>
        {{/isnt}}
        {{#isnt location "register"}}
        <a href="/register">Register</a>
        {{/isnt}}
        <!--
        {{#isnt location "users"}}
        <a href="/users">Users</a>
        {{/isnt}}
        -->
        <a href="/sign-out">Logout</a>
      </div>
  </nav>
  {{/if}}
  <div class="main">
    {{#if message.length}}
    <div class="alert alert-info">
      {{message}}
    </div>
    {{/if}}
    {{#if signup.success }}
    <div class="alert alert-info">
      <h3>Sign-up success!</h3>
      Signup another, or go to <a href="/">Home</a> page.
    </div>
    {{/if}}
    {{{body}}}
  </div>
  <footer>
    <span style="float:right;font-size:0.5em;">
      Developer: yourtechy.com
    </span>
  </footer>
</body>

</html>
